//- Data used to populate the pug template
-
  var header = '#about-me'
  var imagePath = 'asset/image/eduard-cozma-avatar.jpeg'
  var myFullName = 'Eduard Cozma'
  var myTitle = 'Markup Destroyer'
  var slogan =  "Day by day I'm getting better at debugging. In the end I will find you and... Help me God not to meet the mom of this bug!"
  var achievement = {
    title: 'title goes here',
    content: 'content goes here'
  }
  var coolStuff = {
    title: "Cool Stuff Title",
    buttonList: [
      {
        url: 'https://github.com/mecozma/my-cv',
        icon: 'github',
        label: 'Click here to visit the Github project source'
      },
      {
        url: '',
        icon: '',
        label: ''
      },
      {
        url: '',
        icon: '',
        label: ''
      }
    ]
  }

//- Pug template populated with data(the view)
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__title=myTitle
  .about-me__slogan=slogan

  .about-me__title=achievement.title
  .about-me__content=achievement.content

  .about-me__title=coolStuff.title
  .about-me__link-list
    each button in coolStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv_icon--${button.icon}`)