//- model/data
-
  var header = 'experience';
  var experienceList = [
    {
      title: "Job title",
      date: 'The date I started the job',
      company: 'The company name1',
      responsabilityList: [
        'resp1',
        'resp2',
        'resp3',
        'resp4',
      ]
    },
    {
      title: "Job title",
      date: 'The date I started the job',
      company: 'The company name2',
      responsabilityList: [
        'resp1',
        'resp2',
        'resp3',
        'resp4',
      ]
    }
  ];
//- view/presentation

#experience
.experience
  .experience__header=header
    input(type="radio", name="experience", id="default")
    label(for="default") &times;
    each experience, key in experienceList
      input.experience__input(type="radio", name="experience", id=`experience-id-${key}`)
      label.experience__title(for=`experience-id-${key}`)=experience.title
      .experience__details
        .experience__top
          .experience__date=experience.date
          .experience__company=experience.company
        .experience__list
          each responsability in experience.responsabilityList
            .experience__responsability=responsability